<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559285573749-4t19cq60fjkfu5k5gt8m15o7anifskou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559285573749-4t19cq60fjkfu5k5gt8m15o7anifskou</string>
	<key>API_KEY</key>
	<string>AIzaSyB7rBpo_6gujZ3s-blA0u_tKfKBtVpn_Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>559285573749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.kboy.bookListSample</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-cf050</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-cf050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559285573749:ios:c14669eba0f843399fc03c</string>
</dict>
</plist>